<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/aimeerim/Desktop/AQA/seleniumpractice/src/test/java/day43"><classes><class name="day43.AnnotationsDemo"><methods><include name="search"/><include name="advicesearch"/></methods></class><class name="day43.AnnotationsDemo1"><methods><include name="search"/><include name="advicesearch"/></methods></class></classes></test></suite>
